// Importing Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swa');

//------GENERAL SETTINGS -------------------------------

// Universal reset also explicitly to all pseudo-elements
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Define color variables
$colors: (
  'cyan': hsl(179, 62%, 43%),
  'light-cyan': hsl(179, 49%, 49%),
  'bright-yellow': hsl(71, 73%, 54%),
  'light-gray': hsl(204, 43%, 93%),
  'grayish-blue': hsl(219, 29%, 14%),
  'light-grayish-blue': hsl(211, 42%, 84%),
  'white': hsl(0, 0%, 100%),
  'black': hsl(0, 0%, 0%),
);

// Function to retrieve colors
@function color($color-name) {
  @return map-get($colors, $color-name);
}
// Typography Mixin with parameters
@mixin typography($weight, $size, $line-height, $color) {
  font-family: 'Karla', sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}

// Base styles
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: color('light-grayish-blue');
  //background-color: aqua; // for testing
}

main {
  flex: 1 0 auto; /*shorthand for three properties: flex-grow, flex-shrink, and flex-basis. This especially usefull to keep the footer always bellow the content but read the NOTE bellow to prevent issues */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem;
  // background-color: chartreuse;
}

// Container styles for mobiles
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto; /* This was the solution to the BIG 🐞, it centers the container horizontally by adding equal margins to the left and right. */
  align-items: center;
  // background-color: aqua;
}

// Card styling with nested classes for author section , colors and typography
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; // This allows for absolute positioning inside
  padding: 2rem;
  // background-color: coral;
}

//cursor: pointer;

.legend {
  background-color: color('white');
  &__title {
    @include typography(700, 1.5rem, 1.5, color('cyan'));
    margin-bottom: 1.5rem;
    &:hover {
      transform: scale(1.05); // Scales the card by 5% on hover
    }
  }
  &__subtitle {
    @include typography(400, 1.5rem, 1.5, color('bright-yellow'));
    margin-bottom: 1.5rem;
  }
  &__paragraph {
    @include typography(400, 1rem, 1.5, color('grayish_lblue'));
  }
}

.subscription {
  background-color: color('cyan');
  &__title {
    @include typography(700, 1.5rem, 1.5, color('white'));
    margin-bottom: 1.5rem;
    &:hover {
      transform: scale(1.05); // Scales the card by 5% on hover
    }
  }

  .priceGroup {
    // an extra wrapper was created to fix that both price and xMonth should be in the same row
    display: flex;
    justify-content: left;
    align-items: self-end; // ✅this centered per Month text vertically
    margin-bottom: 1.5rem;
    // background-color: chocolate;

    &__price {
      height: 3rem;
      width: 4rem;
      margin-right: 1.5rem;
      @include typography(700, 2.5rem, 1.5, color('white'));
      // background-color: coral;
    }

    &__xMonth {
      @include typography(600, 1.5rem, 1.5, color('light-gray'));
    }
  }

  &__offer {
    @include typography(400, 1.2rem, 1.5, color('light-gray'));
    margin-bottom: 2rem;
  }

  &__btn {
    background-color: color('bright-yellow');
    @include typography(700, 1.2rem, 1.5, color('white'));
    width: 120px;
    height: 50px;
    border-radius: 7px;
    border-style: none;
    margin: 0 auto;
  }
}

.whyUs {
  background-color: color('light-cyan');
  &__title {
    @include typography(700, 1.5rem, 1.5, color('white'));
    margin-bottom: 1.5rem;
    &:hover {
      transform: scale(1.05); // Scales the card by 5% on hover
    }
  }
  &__paragraph {
    @include typography(400, 1rem, 1.5, color('light-gray'));
  }
}

//------- FOOTER ----------------
.attribution {
  text-align: center;
  margin-bottom: 3rem; /* Keeps the footer at the bottom but only after all other content */
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Creates 4 equal columns
    align-items: start; // Aligns items to the start of their cell
    grid-auto-rows: minmax(250px, auto); // Ensures that rows are at least 250px tall
    grid-gap: 20px; // Maintains a fixed gap
    width: 80%;
    padding: 20px;
    margin-top: 100px;
    align-items: stretch; // Stretches items to fill the grid row height
  }
  .card {
    min-height: 300px; // Sets a minimum height and allows expansion based on content
    margin: 0rem;
  }
  // Card 1 (Daniel) takes the first row and spans two columns
  .card:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  // Card 2 (Jonathan) is placed in the first row, third column
  .card:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
  }

  // Card 3 (Jeanette) takes the second row, first column
  .card:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }

  // Card 4 (Patrick) starts at the second column and spans two columns in the second row
  .card:nth-child(4) {
    grid-column: 2 / span 2;
    grid-row: 2;
  }

  // Card 5 (Kira) occupies the entire fourth column, and should align with Card 2's top
  .card:nth-child(5) {
    grid-column: 4;
    grid-row: 1 / span 2;
  }
}

/* ============= NOTES  ============== */
